In [ ]:
map(fun_name,iterable)

In [1]:
l = ['apple','kiwi','banana']

list(map(len,l))

[5, 4, 6]

In [2]:
import re
regx = '[^@#]+'

list_of_strings = ['#@12ABcd','www.apple.com','imagineSma##sh']

for i in list_of_strings:
    print(re.search(regx,i))

<re.Match object; span=(2, 8), match='12ABcd'>
<re.Match object; span=(0, 13), match='www.apple.com'>
<re.Match object; span=(0, 10), match='imagineSma'>

In [3]:
import re
regx = '^[a-z][^@#]+'

list_of_strings = ['#@12ABcd','www.apple.com','imagineSma##sh']

for i in list_of_strings:
    print(re.search(regx,i))

None
<re.Match object; span=(0, 13), match='www.apple.com'>
<re.Match object; span=(0, 10), match='imagineSma'>

In [4]:
l = ['apple','kiwi','banana',None,0,0.0,'',[],{},set(),[1,2,3,4]]

list(map(bool,l))

[True, True, True, False, False, False, False, False, False, False, True]

In [5]:
l = ['apple','kiwi','banana',None,0,0.0,'',[],{},set(),[1,2,3,4]]

list(filter(bool,l))

['apple', 'kiwi', 'banana', [1, 2, 3, 4]]

# Lambda Expressions or Lambda Functions

In [ ]:
One liner functions.
These are usually very small functions to do a specific task, and they are often called at a specific time.

In [6]:
fun1 = lambda x : 2*x

# syntax lambda input : output

# def fun1(x):
#     return 2*x

# There are limitations of lambda functions, not every function can be convert using a lambda 
# function

# you don't use return statement in lambda functions

In [7]:
fun1(2)

4

In [8]:
fun1(3)

6

In [9]:
fun1(1)

2

In [10]:
def fun(arg1,arg2):
    return arg1+arg2

In [11]:
fun = lambda arg1,arg2 : arg1+arg2

In [ ]:
# lambda expressions can be used without a name

In [12]:
list(map(lambda x : x**2,[1,2,3]))

[1, 4, 9]

In [13]:
list(map(lambda x : x%2==0,[1,2,3]))

[False, True, False]

In [15]:
list(filter(lambda x : x%2==0,[1,2,3,4,5,6,7,8,9,10,11,12]))

[2, 4, 6, 8, 10, 12]

In [18]:
# if True:
#     print('something')
# else:
#     print('something else')
    
x = 34
print('even' if x%2==0 else 'odd')

even

In [17]:
list(map(lambda x : 'even' if x%2==0 else 'odd',[1,2,3,4,5,6,7,8,9,10,11,12]))

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [ ]:
Q1) Test if a string contains a vowel. Do it with lambda expression.
# 20:08

In [21]:
x = 'apple'

In [24]:
'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x

True

In [25]:
x = 'mango'

In [26]:
'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x

True

In [27]:
x = 'fly'

In [28]:
'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x

False

In [ ]:
lambda x: 'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x

In [29]:
l = ['sky','apple','fly','mango']
print(list(filter(lambda x: 'a' in x or 'e' in x or 'i' in x or 'o' in x or 'u' in x,l)))

['apple', 'mango']

In [ ]:
# lambda expressions in key arguments.

In [32]:
ids = ['id1','id2','id10','id4','id20','id3000000']

sorted(ids)

['id1', 'id10', 'id2', 'id20', 'id3000000', 'id4']

In [33]:
sorted(ids, key = lambda x : int(x[2:]))

['id1', 'id2', 'id4', 'id10', 'id20', 'id3000000']

In [34]:
tuple_list = [('apple',2),('mango',0.5),('banana',1.2),('kiwi',2.5),('dragon fruit',2.2)]
sorted(tuple_list)

[('apple', 2),
 ('banana', 1.2),
 ('dragon fruit', 2.2),
 ('kiwi', 2.5),
 ('mango', 0.5)]

In [ ]:
# Sort these items according to the second item in the tuple.

In [35]:
sorted(tuple_list, key = lambda tup : tup[1])

[('mango', 0.5),
 ('banana', 1.2),
 ('apple', 2),
 ('dragon fruit', 2.2),
 ('kiwi', 2.5)]

## List Comprehensions

In [ ]:
Short way / one liner way of making a list with some logic.

In [ ]:
Syntax:
    
    [Write code inside these square brackets with some syntax for different styles.]

In [36]:
list1 = [1,2,3,4,5,6]

even_list = []

for i in list1:
    if i%2==0:
        even_list.append(i)
print(even_list)

[2, 4, 6]

In [37]:
print([i for i in list1 if i%2==0])

[2, 4, 6]

In [38]:
print(['apple'+str(i) for i in list1 if i%2==0])

['apple2', 'apple4', 'apple6']

In [40]:
print([i for i in range(5)])

[0, 1, 2, 3, 4]

In [41]:
[x for x in range(4,20,3)]

[4, 7, 10, 13, 16, 19]

In [42]:
['one' for i in range(4)]

['one', 'one', 'one', 'one']

In [45]:
x = ['apple','kiwi','mango','apricot','avocado']
# Use list comprehension and output only those fruits which start with a.

In [47]:
[i for i in x if i[0] == 'a']

['apple', 'apricot', 'avocado']

In [49]:
import re
[i for i in x if re.search('^a.*',i)]

['apple', 'apricot', 'avocado']

In [ ]:
# zip

In [51]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [9,10,11,12,18]

print(list(zip(l1,l2,l3)))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [52]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

print(list(zip(l1,l2)))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [ ]:
# Another version of list comprehension : for if-else case.

In [53]:
l1 = [1,2,3,4,5]
out = ['odd','even','odd','even','odd']

In [55]:
['odd' if i%2!=0 else 'even' for i in l1]

['odd', 'even', 'odd', 'even', 'odd']

In [56]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

for v1,v2 in zip(l1,l2):
    print(v1,v2)

1 5
2 6
3 7
4 8

In [57]:
v1,v2 = (2,3)

In [58]:
print(v1)

2

In [59]:
print(v2)

3

In [60]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

[v1+v2 for v1,v2 in zip(l1,l2)]

[6, 8, 10, 12]

# Nested loops inside list comprehension

In [61]:
for multiplication_table in [2,7]:
    print('Table of ',multiplication_table)
    for i in range(1,11):
        print(multiplication_table*i)
    print('\n')

Table of  2
2
4
6
8
10
12
14
16
18
20


Table of  7
7
14
21
28
35
42
49
56
63
70

In [62]:
[multiplication_table*i for multiplication_table in [2,7] for i in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
[output first for loop nested for loop]

In [ ]:
## Assignment 1: Write a Package Scientific Calculator which will contain different modules for
## things like normal arithmetic, trignometry, permutation and combination.

## Assignment 2: Write a Package reAdvance which will contains fascinating use cases of regx directly
# like validating email and passwords.